<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/imgs/favicon.jpg">
    <link rel="stylesheet" href="../inicio.css">
    <title>Sam</title>
</head>
<body>
    <header>
        <hr><hr>
        <h1>Los ístari azules</h1>
        <hr><hr>
    </header>
    <section>
        <h1 class="Mellon">Sam</h1>
    </section>
    <aside class="per">
        <br>
        <a href="../index.html">Inicio</a>
        <br><br><br><br><br>
        <a href="./historia1.html">Historia</a>
        <br><br><br><br><br>
        <a href="./personaje7.html">Personajes</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </aside>
    <section class="personaje">
        <article class="p">
            <p>Era un hobbit de cabello castaño, Sam tenia una resistencia increíble, también comía mucho como Merry y Pippin, no confiaba en Gollum y fue el séptimo portador del anillo.</p>
            <p>Samsagaz Gamyi nació en el año 2983 de la Tercera Edad (1830 según el Cómputo de la Comarca) y sus padres fueron Hamfast Gamyi y Campanilla Buenchico. Sam ejerció como jardinero durante toda su juventud en Bolsón de Tirada, imitando la profesión de su padre.</p>
        </article>
        <article class="pp">
            <img src="../statics/imgs/Sam.jpg" alt="Gandalf" height="200px">
        </article>
    </section>
    <section class="activ">
        <p>Fue elegido por Gandalf para acompañar a Frodo en el primer tramo de su viaje ya que lo había atrapado escuchando a hurtadillas una conversación entre los dos. Sam Organizó una "conspiración" con Merry y Pippin para evitar que Frodo partiera solo de La Comarca. Tras llegar a Rivendel, en el Concilio de Elrond, fue escogido para formar parte de La Compañía del Anillo junto a Gandalf, Merry, Pippin, Aragorn, Boromir, Legolas y Gimli con el fin de ayudar a Frodo en su misión para destruir el Anillo Único en el Monte del Destino.</p>
        <p>Cuando la comunidad se disolvió en la cima de Amon Hen Sam continuó el viaje con Frodo y lo acompañó hasta Mordor. Cargó por un breve tiempo con el Anillo al creer que Frodo estaba muerto tras ser atacado por Ella-Laraña en el paso de Cirith Ungol. Cuando lo encontró vivo en la torre le devolvió el Anillo y lo acompañó hasta el fin de la misión.</p>
        <p>Cuando Sam volvió a La Comarca participó en la Batalla de Delagua y tras fue elegido alcalde de La Comarca, cargo que ocupó por siete períodos. Se casó con Rosita Coto y tuvieron nueve hijos. Al morir su esposa, Sam partió a los Puertos Grises y se hizo a la mar.</p>
    </section>
    <footer>
        <h5>©Copyright 2021 CW2021 Acosta Luna</h5>
    </footer>
</body>
</html>