<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/imgs/favicon.jpg">
    <link rel="stylesheet" href="../statics/styles/inicio.css">
    <title>Legolas</title>
</head>
<body>
    <header>
        <hr><hr>
        <h1>Los ístari azules</h1>
        <hr><hr>
    </header>
    <section>
        <h1 class="Mellon">Legolas</h1>
    </section>
    <aside class="per">
        <br>
        <a href="../index.html">Inicio</a>
        <br><br><br><br><br>
        <a href="./historia1.html">Historia</a>
        <br><br><br><br><br>
        <a href="./personaje9.html">Personajes</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </aside>
    <section class="personaje">
        <article class="p">
            <p>Es un elfo con pelo rubio, lacio y largo. Sus ojos son de color azul claro. Siempre carga su arco y unos cuchillos élficos.</p>
        </article>
        <article class="pp">
            <img src="../statics/imgs/Legolas.jpg" alt="Gandalf" height="200px">
        </article>
    </section>
    <section class="activ">
        <p>Su padre le envió al Concilio de Elrond a informar que Gollum había escapado por una distracción creada por el ataque de una hueste de orcos. Cuando el Concilio decidió que lo mejor era destruir el Anillo Único en el Monte del Destino, Legolas se ofreció voluntario para representar a los Elfos en la Compañía que iría con Frodo. Nada más al empezar el viaje, ya demostró sus habilidades divisando a lo lejos una bandada de crebain de las Tierras Brunas.</p>
        <p>Mas tarde, en el Paso de Caradhras, pudo andar por la nieve sin problemas mientras el resto de la compañía estaba hundida en la nieve, ya que sus pies casi no tocaban el suelo. Ayudó también al resto de la compañía a cruzar por la nieve, cuidando sobre todo de Frodo.</p>
        <p>Poco antes de entrar en Moria, la compañía fue atacada por el Guardián. Cuando Frodo estaba a punto de ser engullido por el Guardián del Agua, Legolas, con un disparo certero, acertó al Guardián en los ojos, lo que hizo que soltara a Frodo para que Boromir le recogiera y le pusiera a salvo.</p>
        <p>En Moria, demostró una vez mas sus habilidades de arquero, matando a multitud de trasgos e hiriendo una y otra vez a un troll de las cavernas con sus flechas. Cuando Gandalf murió, al igual que todos, estaba muy apenado, pero pudiendo ver más allá de sus sentimientos, creyó, al igual que Aragorn, que lo mejor era ir a Lothlorien cuanto antes.</p>
        <p>El tiempo en Lothlórien afianzó la amistad eterna que por siempre le uniría a su compañero, el Enano Gimli (una amistad como nunca se viera en los siglos pasados), con quien compartiría barca en el trayecto por el Anduin hasta Rauros. Trayecto en el que avistaría y derribaría a la Bestia Alada de un Nazgûl que los seguía.</p>
        <p>Tras la muerte de Boromir y la ruptura de la Compañía, siguió a Aragorn y a Gimli en persecución de los Uruk-hai de Isengard a través de las llanuras de Estemnet. Sin embargo, no lograrían su objetivo de rescatar a Merry y Pippin ya que, en el camino, se toparon con los jinetes de Eomer, que volvían a Edoras tras exterminar a los orcos y le advirtieron acerca de la situación de crisis derivada de la traición de Saruman y su alianza con los Hombres de las Tierras Brunas, quienes saqueaban a placer las tierras de Rohan. Sin embargo, gracias a los conocimientos de rastreo de Aragorn, descubrieron que los hobbits continuaban vivos y siguieron su rastro hasta las lindes de Fangorn, donde los halló "Saruman", que se reveló como Gandalf redivido como un Mago Blanco. Junto a él, los Tres Cazadores fueron a Edoras y estuvieron presentes en la liberación del rey Theoden, presa del desanimo y hechizado por Saruman.</p>
        <p>Participó en la Batalla del Abismo de Helm junto a Aragorn y Gimli, donde mató a tantos Uruks que hubo un momento en que se quedó sin flechas. Tras la victoria en el Abismo, fue a Isengard y a la concentración de fuerzas de los Rohirrim en El Sagrario. Como parte de la Compañía Gris siguió a Aragorn a través de los Senderos de los Muertos ya que poco podía temer de los fantasmas de los Hombres.</p>
        <p>Después de la guerra, asistió a la coronación de Aragorn y a su boda con Arwen. Después, viajó con Gimli al Abismo de Helm, donde visitaron las Cavernas Centelleantes antes de recorrer el Bosque de Fangorn. Algún tiempo después, partió del Bosque Negro con la venia de su padre y fundó un principado elfo en Ithilien desde el cual ayudó a recuperar los bosques arrasados por la guerra. Tras la muerte de Aragorn, construyó un barco en Ithilien para cruzar el Mar rumbo a Valinor, travesía que realizó junto a Gimli, el enano, haciendo de él el primer Enano en entrar a las Tierras Imperecederas.</p>
    </section>
    <footer>
        <h5>©Copyright 2021 CW2021 Acosta Luna</h5>
    </footer>
</body>
</html>