<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/imgs/favicon.jpg">
    <link rel="stylesheet" href="../statics/styles/inicio.css">
    <title>Aragorn</title>
</head>
<body>
    <header>
        <hr><hr>
        <h1>Los ístari azules</h1>
        <hr><hr>
    </header>
    <section>
        <h1 class="Mellon">Aragorn</h1>
    </section>
    <aside class="per">
        <br>
        <a href="../index.html">Inicio</a>
        <br><br><br><br><br>
        <a href="./historia1.html">Historia</a>
        <br><br><br><br><br>
        <a href="./personaje8.html">Personajes</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </aside>
    <section class="personaje">
        <article class="p">
            <p>Aragorn (Valor de rey en sindarin), también conocido como Trancos, fue un dúnedain y el trigésimo noveno heredero de Isildur en línea directa. Al finalizar la guerra del anillo, se casó con Arwen y tuvo un hijo, llamado Eldarion.</p>
        </article>
        <article class="pp">
            <img src="../statics/imgs/Aragorn.jpg" alt="Gandalf" height="200px">
        </article>
    </section>
    <section class="activ">
        <p>No fue hasta que Frodo Bolsón, con la misión de llevar el anillo a Rivendel, paso por la posada de El Poney Pisador, donde se encontró con Aragorn, apodado "Trancos".</p>
        <p>Aragorn le ayudo a llegar a Rivendel, aunque Frodo fue herido por un nazgul y estuvo al borde de convertirse en un espectro. Una vez en Rivendel, en el llamado "Concilio de Elrond", donde conformo parte de la llamada "Compañía del Anillo". Enanos, hombres y elfos, se formó una compañía denominada la Compañía del Anillo, que estaba formada por los hobbits Frodo, Sam, Merry y Pippin; por los hombres Aragorn y Boromir de Gondor; por el enano Gimli; por el elfo Legolas y por el mago Gandalf.</p>
        <p>Esta compañía se creo con la finalidad de acompañar al portador del anillo, Frodo Bolsón, hasta Mordor, donde arrojaría el anillo al Monte del Destino.</p>
        <p>En su viaje pasaron por las minas de Moria, infestadas de Trasgos y un Balrog, con el que se enfrento Gandalf y aunque lo derroto, "aparentemente" Gandalf murió en el enfrentamiento.</p>
        <p>Seguidamente, salieron de las minas, y Aragorn, al ver que la moral de todos estaba por los suelos, decidió tomar la iniciativa y convertirse en el guía. Los llevo hasta Lothlorien, y allí pasaron unas semanas. Después, siguieron por el río Rauros, un afluente del Anduin, donde fueron emboscados por una partida de uruk-hai , que mató a Boromir, secuestro a Merry y aPippin e hizo que la compañía se disolviera. En esa pelea (solo en la película) se enfrenta a un Uruk-hai llamado Lurtz, con el que mantiene un intenso combate que se resuelve con la cabeza de Lurtz por los suelos. Intenta salvar a Boromir, pero es demasiado tarde. Su cuerpo es depositado en una barca y puesto en las aguas del río Anduin.</p>
        <p>Después de estoFrodo siguió hacia Mordor junto a Sam , y Aragorn comprendio que el anillo ya no era cosa suya, y decidio ir junto con Gimli y Legolas tras Merry y Pippin para intentar salvarles.</p>
        <p>Siguiendo el rastro de los Uruk-hai, Aragorn, Gimli y Legolas encuentran a Éomer, quien les proporciona dos caballos y les dice que la noche anterior mataron a unos Uruk-hai, y que probamente, con ellos, a Merry y a Pippin. Sin embargo van a investigar y descubren que lograron huir a Fangorn, un bosque donde habitan los Ents, "los pastores de árboles". Una vez allí, encuentran a Gandalf, quien les dice que los hobbits están bien, pero que deben partir hacia Edoras, que está en Rohan, para llegar a Meduseld, donde deben salvar al rey Théoden de los hechizos de Saruman.</p>
        <p>Allí, Aragorn y los demás encuentran a un rey irreconocible por los conjuros que pesaban sobre él, pero Gandalf consigue salvarle y el rey vuelve a ser el de siempre. En su estancia allí, Aragorn conoce a Éowyn, la sobrina del rey, con la que entabla una buena amistad. Gandalf parte en busca de Éomer, que fue exiliado por orden de Grima, lengua de serpiente.</p>
        <p>Después de esto, como la guerra se avecina, deciden que Edoras debe ser abandonado y toda la población se debe refugiar en el abismo de Helm, donde plantarán cara al ejército de Isengard.</p>
        <p>En su camino a Helm, son atacados por unos Jinetes de Huargos liderados por Sharku (sólo en la película) y Aragorn, luchando, cae por un precipicio, dándole por muerto sus amigos.</p>
        <p>Mientras los demás llegan a Helm, Aragorn se despierta de su caída en la orilla de un río. Brego, un caballo, viene en su busca y en su viaje a Helm, descubre un inmenso ejército de Uruk-hai (solo en la película) y acelera el paso para avisar del ataque.</p>
        <p>Aragorn cura a Faramir, último heredero de Denethor, lo que le ganó el reconocimiento inmediato de Faramir como heredero legítimo al trono, su humildad y abnegación le ganó los corazones de los habitantes de Minas Arnor.  Las capacidades curativas de Aragorn, por otra parte, eran una señal para la gente de Gondor de la identidad de su verdadero rey, como dijo Ioreth, "Las manos del rey son las manos de un sanador, y así se conocerá el legítimo rey.". La gente lo aclama como Rey esa misma noche.</p>
        <p>A pesar de su éxito inmediato y la popularidad, sin embargo, ya pesar de su derecho al trono a través de elevar el estandarte real, Aragorn decidió dejar a un lado su demanda por el momento. </p>
    </section>
    <footer>
        <h5>©Copyright 2021 CW2021 Acosta Luna</h5>
    </footer>
</body>
</html>