<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/imgs/favicon.jpg">
    <link rel="stylesheet" href="../statics/styles/inicio.css">
    <title>Pippin</title>
</head>
<body>
    <header>
        <hr><hr>
        <h1>Los ístari azules</h1>
        <hr><hr>
    </header>
    <section>
        <h1 class="Mellon">Pippin</h1>
    </section>
    <aside class="per">
        <br>
        <a href="../index.html">Inicio</a>
        <br><br><br><br><br>
        <a href="./historia1.html">Historia</a>
        <br><br><br><br><br>
        <a href="./personaje5.html">Personajes</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </aside>
    <section class="personaje">
        <article class="p">
            <p>Peregrin Tuk, más conocido como Pippin, es un hobbit de El Señor de los Anillos escrito por J.R.R. Tolkien. Es un Hobbit normal y corriente ( más tarde fue alto y delgado gracias al brebaje de los Ents). Formó parte de la Compañía del Anillo, pues era muy amigo de Merry y Frodo. Contaba con un gran sentido del humor y con sus constantes preguntas (de evidente respuesta) siempre hacían enfadar a Gandalf.</p>
        </article>
        <article class="pp">
            <img src="../statics/imgs/Pippin.jpg" alt="Gandalf" height="200px">
        </article>
    </section>
    <section class="activ">
        <p>Pippin partió con Frodo y Sam de Hobbiton hacia Cricava, allí, con Merry, Fredegar Bolger y Sam, le contaron como habían descubierto la existencia del Anillo, y organizaron la partida desde Cricava. Él fue con Merry, Frodo y Sam por el Bosque Viejo, Rivendel y las montañas; el fue en parte culpable del ataque de los orcos en Moria. Acompañó a la Comunidad del Anillo hasta su disolución.</p>
        <p>Durante su estancia en Gondor se le llamó Ernil i Pheriannath, que significa Príncipe de los Medianos. Siendo su padre, Paladin, Thain de la Comarca, el título, si bien no formal, tampoco era incorrecto desde el punto de vista humano,</p>
    </section>
    <footer>
        <h5>©Copyright 2021 CW2021 Acosta Luna</h5>
    </footer>
</body>
</html>