<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/imgs/favicon.jpg">
    <link rel="stylesheet" href="../inicio.css">
    <title>Boromir</title>
</head>
<body>
    <header>
        <hr><hr>
        <h1>Los ístari azules</h1>
        <hr><hr>
    </header>
    <section>
        <h1 class="Mellon">Boromir</h1>
    </section>
    <aside class="per">
        <br>
        <a href="../index.html">Inicio</a>
        <br><br><br><br><br>
        <a href="./historia1.html">Historia</a>
        <br><br><br><br><br>
        <a href="./personaje3.html">Personajes</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </aside>
    <section class="personaje">
        <article class="p">
            <p>Boromir tenía los títulos de Príncipe de Gondor y Capitán de la Torre Blanca; siendo más tarde ascendido a Capitán General y Alto Guardián de la Torre Blanca.</p>
            <p>Boromir mostraba muchos de los rasgos de los numenoreanos, antepasados de los habitantes de Gondor, caracterizados por un gran tamaño y una figura fuerte, más que cualquier hombre normal. Es descrito como excepcionalmente alto (1,93 m, en palabras de Tolkien) y robusto (siendo un poco más bajo pero más ancho que Aragorn), además de ser atractivo, de pelo negro y ojos grises. Era conocido incluso fuera de las fronteras de Gondor por su bravura y destreza en combate además de ser considerado uno de los mayores Capitanes de Gondor. Era noble </p>
        </article>
        <article class="pp">
            <img src="../statics/imgs/Boromir.jpg" alt="Gandalf" height="200px">
        </article>
    </section>
    <section class="activ">
        <p>Boromir salió de Minas Tirith hacia Rivendel para descifrar un mensaje de un sueño, que habían tenido él y su hermano que decía:</p>
        <i>«Buscad la espada que está rota, en Imladris que habita, no se aconseja tomar, más fuerte que los hechizos de Morgul, se deberá indicar una muestra, del destino que esta cerca, del Daño de Isildur despertará, y el Hafling adelante quedará.»<br>―Palabras del sueño de Faramir y Boromir.</i>
        <p>A la mitad del camino perdió a su caballo, y siguió a pie en un viaje que le llevó 110 días. Durante el Concilio de Elrond, habló de cómo Gondor se había defendido de Mordor, y que gracias a eso sus tierras fueron seguras. Trató de convercerles de dar el Anillo Único a Gondor para usarlo contra Mordor, pero el consejo decidió no hacerlo, ya que Sauron lo sentiría allí.</p>
        <p>Boromir se unió a la Compañía del Anillo, y fue advertido por Elrond de que no usara el Cuerno de Gondor a no ser que estuviera cerca de Gondor, y sólo ante necesidad extrema, consejo que no siguió y más tarde sería su perdición.</p>
        <p>Durante el viaje, sería fundamental en el paso de Caradhras al recomendar recoger leña antes de subir y, más tarde, abrir paso a través de la nieve al bajar de la montaña para que pasara el resto a través de los bancos (altos como el hombro de un hombre). Viendo el fracaso de ir por las Montañas Nubladas, propuso ir por el Paso de Rohan hasta Minas Tirith, pero Frodo decidió ir por Moria, donde Boromir daría muerte a un gran número de Trasgos y Gandalf caería contra el Balrog. Huyendo de los innumerables trasgos de Moria, la compañía llegó a Lothlórien, teniendo Boromir miedo de que "la bruja del bosque" se metiera en su mente, al punto de preferir pasar "a través de un seto de espadas" a entrar en el bosque. Durante la partida de Lórien, la Dama Galadriel le obsequió con una capa élfica y un cinturón de oro. Durante la travesía por el río Anduin en los botes que les dio el elfo Celeborn, .</p>
        <p>A Boromir nunca le gustó la idea de destruir el Anillo y desconocía la fortaleza y resolución de Frodo, por lo que, cuando llegaron a Amon Hen, hizo por encontrarse con él a solas e intentó convencerlo para que se lo diera. Cuando este se negó, le amenazó y se lo intentó quitar por la fuerza, pero el hobbit se puso el Anillo y huyó.</p>
        <p>Avergonzado por sus acciones, volvió con la Compañía y les informó de que se había encontrado con Frodo y que él había huido. Merry y Pippin salieron inmediatamente a buscarlo llamándolo a grandes voces seguidos por el resto de la Compañía. Aragorn, que intuía que la marcha de Frodo la había provocado Boromir y temía que los orcos de la orilla los oyeran, le ordenó al gondoriano que fuera tras Merry y Pippin y los protegiera mientras él iba tras Sam. Cuando Boromir los encontró, los orcos los habían rodeado y trataban de agarrarlos. Con su espada en la mano y con una ferocidad inhumana, atacó a los orcos matando al menos diez y poniendo al resto en fuga. No llegó lejos con los hobbits antes de que los orcos volvieran, más numerosos que antes, junto a una tropa de Uruk-Hai de Isengard.</p>
        <p>Boromir recibió un gran número de flechas mientras mataba a orcos y Uruks por igual. En algún momento de la lucha, sopló con energía su cuerno (siendo oído por los miembros restantes de la Compañía y en Gondor), provocando que los enemigos retrocedieran aterrados pero, al no aparecer nadie, los monstruos atacaron con mayor ahínco, logrando burlar los ataques del de Gondor y tomar cautivos a los hobbits.</p>
        <p>Cuando Aragorn llegó al lugar de la batalla alertado por el sonido del Cuerno de Gondor, Boromir yacía apoyado en un árbol con el cuerpo atravesado de flechas, el Cuerno de Gondor partido por la mitad a poca distancia de él, la espada rota cerca de la empuñadura en la mano y rodeado por varias decenas de enemigos muertos. Con sus últimas fuerzas, confesó haber intentado quitarle el Anillo a Frodo y urgió a Aragorn a que salvara Minas Tirith ya que él había fallado, Aragorn trató de alentarlo diciendo que "pocos hubieran logrado tan grande victoria" como él. Una vez muerto, Aragorn, Legolas y Gimli pusieron su cuerpo en una de las barcas de Lothlórien junto a sus armas, sus efectos personales y las armas de sus enemigos y la empujaron por la Catarata de Rauros entonando un lamento a la altura de las circunstancias.</p>
        <p>Su cuerpo flotó a la deriva por el río Anduin hasta que, tres días después y a la altura de Ithilien, fue encontrado por su hermano Faramir, para su pesar y el de su padre Denethor.</p>
    </section>
    
    <footer>
        <h5>©Copyright 2021 CW2021 Acosta Luna</h5>
    </footer>
</body>
</html>