<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../statics/imgs/favicon.jpg">
    <link rel="stylesheet" href="../inicio.css">
    <title>Frodo</title>
</head>
<body>
    <header>
        <hr><hr>
        <h1>Los ístari azules</h1>
        <hr><hr>
    </header>
    <section>
        <h1 class="Mellon">Frodo</h1>
    </section>
    <aside class="per">
        <br>
        <a href="../index.html">Inicio</a>
        <br><br><br><br><br>
        <a href="./historia1.html">Historia</a>
        <br><br><br><br><br>
        <a href="./personaje6.html">Personajes</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </aside>
    <section class="personaje">
        <article class="p">
            <p>Frodo era un hobbit muy diferente a los demás: no comía demasiado, le gustaba leer, era mas sensible que los demás, etc... Todo esto debido a que era un Hobbit Albo, era amigo de diferentes razas; por eso se gano el apodo Amigo de los Elfos.</p>
            <p>Tenia los ojos azules claros, una piel blanca y pálida, el cabello mas rubio que los demás (en la película aparece oscuro). La horrenda criatura Gollum le quito el dedo indice, cuando el, dominado por el poder del Anillo reclamo el anillo suyo. Después de la Guerra del Anillo estaba muy maltratado y lo llevaron junto a Bilbo, Gandalf, Galadriel y Elrond hacia las Tierras Imperecederas.</p>
        </article>
        <article class="pp">
            <img src="../statics/imgs/Frodo.jpg" alt="Gandalf" height="200px">
        </article>
    </section>
    <section class="activ">
        <p>Frodo Bolsón, hijo único de Drogo Bolsón y Prímula Brandigamo, sus padres murieron cuando Frodo tenia 7 años. En 2980, tras la muerte de sus padres fue adoptado por su tío Bilbo Bolsón y se fue a vivir a Bolsón Cerrado junto a el. En 3001 Bilbo abandonó La Comarca dejándole a Frodo todos sus bienes, incluido su Anillo. </p>
        <p>En 3018, siguiendo el consejo de Gandalf, partió hacia Rivendel con el nombre de Sotomonte para evitar a los Nazgûl. En el camino conoció a Tom Bombadil y a Aragorn, al que en un principio llamó Trancos. Además estuvo cerca de morir a manos del Señor de los Nazgûl (El Rey Brujo de Angmar) en lo alto de la cima de los vientos. Ya en Rivendel se ofreció voluntariamente a emprender el viaje hacia el Orodruin junto a la Compañía del Anillo, grupo formado por miembros de distintas razas escogidos por Elrond. </p>
        <p>Después de grandes hazañas y gestas heroicas en la Comunidad del Anillo, y tras la disolución de la Comunidad decidió seguir la travesía solamente acompañado de su fiel amigo Samsagaz Gamyi hacia el este.</p>
        <p>Más adelante logró capturar y someter a Gollum, quien lo guió hacia Mordor. Al ser capturado por Faramir y ser liberado, consiguió seguir adelante junto a Sam y Gollum. Al entrar en Mordor sufrió varias emboscadas de Gollum al ser atrapado por Ella-Laraña y los orcos en Cirith Ungol, logrando escapar gracias a Sam.</p>
        <p>Al llegar al Monte del Destino no podía seguir más, así que Sam lo llevó hasta arriba del monte. Estando allí la tentación del Anillo lo consumió reclamando el Anillo como suyo,Gollum lo atacó por última vez, quitándole el Anillo pero cayó en las Sammath Naur terminando así la Búsqueda.</p>
        <p>Al regresar a La Comarca y liberarla del poder de Saruman, se volvió alcalde de Cavada Grande durante un tiempo. Sin embargo, lastimado por la herida del Nazgûl y el veneno de Ella-Laraña decide cruzar el Mar en La Última Cabalgata de los Guardianes de los Anillos, junto a Bilbo y Gandalf, dejando el relato de la Guerra del Anillo y la Búsqueda del Monte del Destino escritos en el Libro Rojo de la Frontera del Oeste en manos de Samsagaz Gamyi.</p>
    </section>
    <footer>
        <h5>©Copyright 2021 CW2021 Acosta Luna</h5>
    </footer>
</body>
</html>