<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>Shingeki No Kyogin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><strong>Shingeki No Kyogin</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Autor</strong></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <h1>Hajime Isayama</h1>
    <div id="argumento">
        <img src="../img/autor.jpg" alt="Las tres murallas" width="100%"><br><br><br>
        <p>Hajime Isayama es un mangaka japonés, mejor conocido por su obra Shingeki no Kyojin, obra con más de 100 millones de ejemplares en distribución tan solo en Japón, y habiendo vendido más de 2 millones y medio en Estados Unidos, estando el volumen 1 más de 100 semanas seguidas en lo más vendido en cuanto a manga.</p>
        <p>Isayama no estudió su secundaria en el Ōita Prefectural Hitarinkou High School y posteriormente asistió al programa de diseño de manga de la Kyushu Designer Gakuin.</p>
        <p>En 2006 publicó en Kodansha un primer capítulo de lo que años después sería Ataque a los titanes (Shingeki no Kyojin). Recibió malas críticas por su dibujo pero Isayama siguió intentando publicar su manga. Con ese objetivo a los 20 años se mudó a Tokio donde empezó a trabajar en un cibercafé.</p>
        <p>En 2009, Isayama recibió un premio en el Magazine Grand Prix de la editorial Kōdansha por Ataque a los titanes. Inicialmente, el autor tenía planeado publicar su obra en la revista de publicación semanal Shōnen Jump de la editorial Shūeisha, pero se le pidió que modificara el estilo y la historia para que se adecuara a la revista. Así, decidió probar con otra revista, esta vez la Shōnen Magazine de Kōdansha. A pesar de que no consiguió ser publicada en ella, Ataque a los titanes comenzó a publicarse en septiembre de 2009 por Bessatsu Shōnen Magazine, otra revista de Kōdansha. En 2011, el manga ganó el premio Kōdansha Manga Shō de 2011 en la categoría mejor shōnen.</p>
        <p>Isayama ha dicho en numerosas entrevistas que el manga que más le ha influenciado en su carrera ha sido Project ARMS, de Ryoji Minagawa, con quien en 2014 pudo publicar un one-shot en Kodansha. En una entrevista para la revista Brutus, Isayama comentó que el videojuego de ciencia ficción, Muv-Luv Alternative, le había dado varias ideas para comenzar la historia de Ataque a los titanes.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 
</body>
</html>