@font-face {
    font-family: 'AOT','Serif';
    src: url(./fonts/AttackOnCourier-5nJz.ttf);
}
@font-face {
    font-family: 'Destruido';
    src: url(./fonts/Broken-Detroit\ -\ PERSONAL\ USE\ ONLY.ttf);
}
body{
    background-color: #FFF5D0;
}
nav{
    background-image: url(./img/fondo.jpg);
    opacity: 0.5;
    color: black;
}
h1,h2{
    font-family: 'Destruido';
    line-height: 1.3;
    text-align: center;
}
h1{
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    font-size: 3.052rem;
}
.alert{
    text-align: center;
}
.a{
    color: rgb(223, 19, 19);
}
.a:hover{
    color: brown;
}
#carouselExampleIndicators{
    height: 30%;
}
#argumento, #trasfondo{
    margin-right: 100px;
    margin-left: 100px;
}
#w{
    width: 100%;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #6c6c6c; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}